{% extends 'base.html' %}

{% load widget_tweaks %}


{% block title %}
    Resultado da Busca - {{ block.super }}
{% endblock title %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Resultado da Busca</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Tarefa</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Data Final</th>
                            <th scope="col">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                    
                    {% for task in tasks %}
                        
                        <tr>
                            <th>{{ task.name }}</th>
                            <td>{{ task.description }}</td>
                            <td>{{ task.end_date }}</td>
                            <td><a href="{% url 'tasks:edit_task' task.id %}" class="btn btn-primary btn-sm">Editar</a></td>
                        </tr>
                        
                    {% endfor %}
                        
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock body %}