{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>{%block title %} TodoApp {% endblock title%}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">TodoApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample09">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
          <div class="dropdown-menu" aria-labelledby="dropdown09">
            <a class="dropdown-item" href="{% url 'category:add_category' %}">Adicionar categoria</a>
            <a class="dropdown-item" href="{% url 'category:list_categories' %}">Listar categorias</a>
            <a class="dropdown-item" href="#">Adicionar tarefa</a>
            <a class="dropdown-item" href="#">Listar tarefas</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-md-0">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </form>
    </div>
</nav>

    {% block body %}


    {% endblock body %}

    <script scr="{% static 'js/bootstraap.min.js' %}"></script>
    <script scr="{% static 'jquery-3.6.0.min' %}"></script>
</div>
</body>
</html>